/*   
  font-family: 'Martian Mono', monospace;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Ubuntu', sans-serif; */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #24262b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
    display: flex;
}
.header{
    color: rgb(19, 221, 19);
    font-size: 70px;
    margin-top: 70px;
    margin-left: 70px;
    /* width: 450px; */
    /* font-family: 'Martian Mono', monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace; */
    font-family: 'Ubuntu', sans-serif; 

}

/* .container{
    margin: auto;
    text-align: center;

} */
#wrapper{
    margin-top: 27px;
    margin-left: 5px;
    margin-right: 5px;
}

#navbar-core {
    width: 100%;
    height: 0px;
}

#navbar-core a {
    font-size: 1.43rem;
    text-decoration: none;
}
#login{
    display: none; 
}

.navbar-item {
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: rgb(51 255 51 / 98%);
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

.row {
    height: 88%;
    align-items: center;
    margin-top: 60px;
}

.col {}

.links {
    margin-left: 200px;
    margin-right: 0px;
    margin-top: 60px;
    
    
}
p {
    color: rgb(38, 221, 53);
    font-size: 20px;
    line-height: 15px;
    
}

button {
    height: 57px;
    width: 280PX;
    color: black;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    background: #d0e0b8eb;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    background-size: 50%;

}

.cards{
    /* border: 2px solid red; */

}
.cards-1{
    /* border: 2px solid blue; */
    margin-right: 20px;

}

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(../image/bg6.jpeg);

    background-size: cover;
}

.card-1 {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(../image/bg5.jpeg);
    background-size: cover;
}

.card-2 {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(../image/bg7.jpeg);
    background-size: cover;
}

.card-3 {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(../image/bg8.jpeg);
    background-size: cover;
}


.para{
    border: 1.5px solid;
    border-color: #3e9b10;
    height: 45px;
    padding: auto;
    text-align: center;
    padding-top: 20px;
    display: inline-block;
    width: 100vw;
    
}

.para p {
    font-size: 1.7rem;
    color: rgba(177, 255, 161, 0.897);
}
.container2{
     display: flex;
     margin: 30px;
     width: 100vw;
}
.footer {
    background-color: #3e9b10;
    

}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 1.7rem;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 5px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(110, 208, 39, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media only screen and (min-width: 1108px) and (max-width: 1298px) 
    {
        .header{
            margin-left: 25px;
            /* margin-top: 40px; */
        }
        .links {
            margin-left: 80px;
        }
        .card-1, .card , .card-2 , .card-3 {
            width: 195px;
            height: 215px;
            border-radius: 10px;
            padding: 10px 10px;
           
            margin: 10px 15px;
        
        }
        button {
            height: 50px;
            width: 270PX;
            color: black;
            font-size: 1.45rem;
            margin-top: 30px;
            
        
        }
    }
@media only screen and (min-width: 800px) and (max-width: 1107px) 
{
    body{

        /* background-color: red; */
    }
    .navbar-item{
        height: 35px;
    }
    #navbar-core a {
        font-size: 1.35rem;
         }
    .header{
        margin-left: 30px;
        /* margin-top: 40px; */
    }
    .links {
        margin-left: 50px;
    }
    button {
        height: 45px;
        width: 270PX;
        color: black;
        font-size: 1.4rem;
        margin-top: 30px;
        
    
    }
    .cards-1{
        margin-right: 0px;
    }
    
    .card-1, .card , .card-2 , .card-3 {
        width: 180px;
        height: 200px;
        border-radius: 10px;
        padding: 10px 10px;
       
        margin: 10px 9px;
    
    }
}
@media only screen and (min-width: 600px) and (max-width: 799px)
{
    body{

        /* background-color: blue;     */
    }
    #navbar-core{
        width: 117%;
     
    }
    .navbar-item{
        height: 30px;
    }
    #navbar-core a {
        font-size: 1.3rem;
    }
    .header{
        margin-left: 30px;
        /* margin-top: 40px; */
        font-size: 57px;
    }
    .links {
        margin-left: 50px;
    }
    
    .cards-1{
        margin-right: 0px;
    }
    
    .card-1, .card , .card-2 , .card-3 {
        width: 180px;
        height: 200px;
        border-radius: 10px;
        padding: 10px 10px;
       
        margin: 10px 9px;
    
    }
    .footer , .para {
        width: 128%;
    }   
    button {
        height: 45px;
        width: 260PX;
        color: black;
        font-size: 1.4rem;
        margin-top: 30px;
        
    
    }
}
@media only screen and (min-width: 451px) and (max-width: 599px) 
{
   body{
    /* background-color: green; */
   }
   #navbar-core{
    width: 147%;
 
}
.navbar-item{
    height: 30px;
    width:137px ;
}
#navbar-core a {
    font-size: 1.2rem;
}
.header{
    margin-left: 30px;
    /* margin-top: 40px; */
    font-size: 47px;
}
.links {
    margin-left: 50px;
}

.cards-1{
    margin-right: 0px;
    display: none;
}

 .card {
    width: 190px;
    height: 130px;
    border-radius: 10px;
    padding: 10px 10px;
   margin-top: 67px;

}
 .card-1 {
    width: 190px;
    height: 130px;
    border-radius: 10px;
    padding: 0px 0px;
   margin-top: 0px;

}
.footer , .para {
    width: 133%;

}   
.para{
    height: 57px;
}
.para p {
    padding-left: 5px;
    font-size: 1.3rem;
}
button {
    height: 45px;
    width: 250PX;
    color: black;
    font-size: 1.4rem;
    margin-top: 30px;
    

}
}
@media only screen and  (max-width: 450px)
{
    body{
        /* background-color: pink; */
    }
    .flex{
        flex-wrap: wrap;
      }
    #navbar-core a{
        width: 97px;
    }
    #navbar-core{
        width: 147%;
     
    }
    .navbar-item{
        height: 30px;
        width:137px ;
    }
    #navbar-core a {
        font-size: 1.2rem;
    }
    .header{
        margin-left: 7px;
        margin-top: 27px;
        font-size: 37px;
    }
    .links {
        margin-left: 83px;
        margin-top: 10px;
    }
    
    .cards-1{
        margin-right: 0px;
        /* display: none; */
    }
    
     .card {
        width: 320px;
        height: 130px;
        border-radius: 10px;
        padding: 10px 10px;
       margin-top: 47px;
    margin-left: 62px;
    
    }
     .card-1,.card-2,.card-3 {
        width: 320px;
        height: 130px;
        border-radius: 10px;
        padding: 0px 0px;
       margin-top: 0px;
       margin-left: 62px;
    }
    .footer , .para {
        width: 100%;
    
    }   
    .para{
        height: 50px;
    }
    .para p {
        padding-left: 5px;
        font-size: 1.3rem;
    }
    button {
        height: 45px;
        width: 250PX;
        color: black;
        font-size: 1.4rem;
        margin-top: 30px;
        
      }
      .container2{
        flex-wrap: wrap;
      }
      #one{
        display: none;
      }
      #two{
        display: none;
      }
      .footer-col {
        width: 100%;
        padding: 0 15px;
        padding-left: 92px;
    }

}